[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webdriver-manager = "*"
scrapy-splash = "*"
scrapy = "==2.11.2"
selenium = "*"
pymongo = "*"
elasticsearch = "*"
pandas = "*"
plotly = "*"
dash = "*"

[dev-packages]

[requires]
python_version = "3.12"
